# DO NOT RENAME THIS FILE

name: Build, Test, and Deploy

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v1

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x

    - name: Build
      run: dotnet build --configuration Release 

    - name: Run tests
      run: dotnet test --no-build --configuration Release 

    - name: Pack
      run: dotnet pack --no-build --configuration Release --output ./nupkg

    - name: Publish to NuGet
      if: startsWith(github.ref, 'refs/tags/')
      run: dotnet nuget push ./nupkg/*.nupkg -s https://api.nuget.org/v3/index.json 

    - name: Publish to GitHub Packages
      if: startsWith(github.ref, 'refs/tags/')
      run: dotnet nuget push ./nupkg/*.nupkg -s https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json -k ${{ secrets.GPM_TOKEN }} 
