<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
        <Rule Id="CA1303" Action="None" Reason="We don't care about resources" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1200" Action="None" Reason="We don't use multiple namespace blocks" />
        <Rule Id="SA1101" Action="None" Reason="We don't use this prefixing" />
        <Rule Id="SA1300" Action="None" Reason="Private member naming rules are wrong" />
    </Rules>
</RuleSet>